* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');
h1 {
    margin: 6rem auto;
    text-align: center;
    text-transform: capitalize;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.container .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.2rem;
}

.row .chiken-box {
    flex: 1 1 30%;
    background-color: #afacac;
    border: 2px solid #000;
    text-transform: capitalize;
    text-align: center;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
}

.row .beef-box {
    flex: 1 1 30%;
    background-color: #afacac;
    border: 2px solid #000;
    text-transform: capitalize;
    text-align: center;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
}

.row .sushi-box {
    flex: 1 1 30%;
    background-color: #afacac;
    border: 2px solid #000;
    text-transform: capitalize;
    text-align: center;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
}

.row .text-box {
    background-color: pink;
    width: 7.5rem;
    padding: .3rem 1rem;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom-left-radius: .2rem;
}

.row p {
    padding: .7rem;
    text-align: justify;
}


/* media queries */

@media (max-width: 968px) {
    .container {
        min-width: 90%;
    }
    .row .chiken-box {
        flex: 1 1 47%;
    }
    .row .beef-box {
        flex: 1 1 47%;
    }
    .row .sushi-box {
        flex: 1 1 100%;
    }
}

@media(max-width:768px) {
    .row .chiken-box {
        flex: 1 1 100%;
    }
    .row .beef-box {
        flex: 1 1 100%;
    }
    .row .sushi-box {
        flex: 1 1 100%;
    }
}